.projects-main {
  margin-left: 2rem;
  margin-top: 2rem;
  line-height: 2;
  font-size: 18px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 1px solid #666666;
}

.modal-body button {
  width: 100px;
}

.modal-body img {
  width: 100%;

}

.modal-body ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.modal-body ul li {
  padding: 2px;
  color: #888888;
}

.responsibilities {
  color: #3ce800;
}

.description {
  color: #888888;
  padding-top: 10px;
}

.modal-footer {
  justify-content: space-between !important;
  background-color: black;
  color: #3ce800;
  border: 1px solid #666666;
  border-top: 1px solid #666666 !important;
}

.project-links {
  display: flex;
  align-items: center;
}

.project-links a {
  text-decoration: none;
  color: #3ce800;
  padding-right: 10px;
}

.project-links a i {
  font-size: 24px;
}

.project-links a:hover {
  text-decoration: none;
  color: #da0000;
}

.modal-header {
  background-color: black;
  color: #3ce800;
  border: 1px solid #666666;
  border-bottom: 1px solid #666666 !important;
}

#contained-modal-title-vcenter {
  display: flex;
  align-items: center;
}

.bubbles {
  display: flex;
  align-items: center;
  margin-right: 10px;


}

.bubble1 {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}

.bubble2 {
  width: 15px;
  height: 15px;
  background-color: yellow;
  border-radius: 50%;
  margin-right: 10px;
}

.bubble3 {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;

}

.modal-header .close {
  color: #3ce800;
  text-shadow: none;
}

.modal-header .close:hover {
  color: #da0000;
  text-shadow: none;
}

.modal-footer button {
  background-color: black;
  color: #3ce800;
  border: 1px solid #3ce800;
}

.modal-footer button:hover {
  background-color: #da0000;
  color: #3ce800;
  border: 1px solid #3ce800;
}

#ls {
  font-size: 15px;
}

#project-ls {
  color: #3ce800;
  font-size: 15px;
  padding-bottom: 30px;
  display: inline-block;
}

#overTheLine,
#seeTheFuture,
#chatApp,
#countries,
#jobs,
#movies {
  color: #3ce800;
  font-size: 22px;
}

#overTheLine:hover,
#seeTheFuture:hover,
#chatApp:hover,
#countries:hover,
#jobs:hover,
#movies:hover {
  color: #da0000;
  cursor: pointer;
}

.Typewriter__wrapper {
  color: #3ce800;
}

.Typewriter__cursor3 {
  color: #3ce800;
}


/* 
@media only screen and (min-device-width: 320px) {
  .projects-main {
    position: absolute;
    top: 3em;
    left: 2rem;
    line-height: 2;
    font-size: 14px;
  }

  #overTheLine,
  #seeTheFuture,
  #chatApp,
  #countries,
  #jobs,
  #movies {
    color: #3ce800;
    font-size: 16px;
  }

}

@media only screen and (min-device-width: 375px) {
  .projects-main {
    position: absolute;
    top: 5em;
    left: 2rem;
    line-height: 2;
    font-size: 14px;
  }

  #overTheLine,
  #seeTheFuture,
  #chatApp,
  #countries,
  #jobs,
  #movies {
    color: #3ce800;
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 768px) {
  .projects-main {
    position: absolute;
    top: 5em;
    left: 3rem;
    line-height: 2;
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .projects-main {
    position: absolute;
    top: 5em;
    left: 4rem;
    line-height: 2;
    font-size: 18px;
  }

  #overTheLine,
  #seeTheFuture,
  #chatApp,
  #countries,
  #jobs,
  #movies {
    color: #3ce800;
    font-size: 22px;
  }
}

@media only screen and (min-device-width: 1440px) {
  .projects-main {
    position: absolute;
    top: 4em;
    left: 3rem;
    line-height: 2;
    font-size: 18px;
  }

  #overTheLine,
  #seeTheFuture,
  #chatApp,
  #countries,
  #jobs,
  #movies {
    color: #3ce800;
    font-size: 22px;
  }
}

@media only screen and (min-device-width: 1920px) {
  .projects-main {
    position: absolute;
    top: 5em;
    left: 6rem;
    line-height: 2;
    font-size: 20px;
  }

  #overTheLine,
  #seeTheFuture,
  #chatApp,
  #countries,
  #jobs,
  #movies {
    color: #3ce800;
    font-size: 24px;
  }
} */