.projects-main {
  position: absolute;
  top: 15em;
  width: 100%;
  left: 4.5rem;
  line-height: 2;
  font-size: 18px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #3ce800;
  border: 1px solid #3ce800;
}

.modal-body img {
  width: 500px;
  height: 300px;
}

.modal-footer {
  background-color: black;
  color: #3ce800;
  border: 1px solid #3ce800;
  border-top: 1px solid #3ce800 !important;
}

.modal-header {
  background-color: black;
  color: #3ce800;
  border: 1px solid #3ce800;
  border-bottom: 1px solid #3ce800 !important;
}

.modal-header .close {
  color: #3ce800;
  text-shadow: none;

}

.modal-header .close:hover {
  color: #da0000;
  text-shadow: none;

}

.modal-footer button {
  background-color: black;
  color: #3ce800;
  border: 1px solid #3ce800;
}

.modal-footer button:hover {
  background-color: #da0000;
  color: #3ce800;
  border: 1px solid #3ce800;

}


#overTheLine,
#seeTheFuture,
#chatApp {
  color: #3ce800;
}

.Typewriter__cursor3 {
  color: #3ce800;
}