.about-content {
    position: absolute;
    line-height: 2;
    font-size: 16px;
    color: #3ce800;
    top: 15rem;
    left: 2.5%;
    padding-left: 20px;
    padding-right: 20px;
    width: 850px;
}

.Typewriter__cursor2 {
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;

}


.about-content a {
    color: #da0000;
    text-decoration: none;
    cursor: pointer;
}