.type-write {
  margin-left: 2em;
  margin-top: 10px;
}

.type-write div {
  font-size: 1rem;
  margin-top: 10px;
  color: #3ce800;
}

.blue {
  color: #00d1ff;
}

#purple {
  font-size: 16px;
  color: #9e00ff;
}

#red {
  color: #da0000;
}

#name {
  color: #3ce800;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.Typewriter__wrapper span {
  color: #00d1ff;
}


@media only screen and (max-device-height: 375px) {
  #name {
    visibility: visible;
  }

  .type-write div {
    font-size: 0.6rem;
  }

  .type-write {
    visibility: hidden;
  }
}

@media only screen and (max-device-height: 768px) {
  #name {
    font-size: 0.6rem;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .type-write div {
    font-size: 0.6rem;
  }

  .type-write {
    margin-left: 1.5em;
  }
}

@media only screen and (max-device-height: 320px) {
  #name {
    visibility: visible;
  }

  .type-write {
    visibility: hidden;
  }
}

@media only screen and (min-device-width: 320px) {
  #name {

    font-size: 0.8rem;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .type-write {
    margin-left: 1.5em;
  }
}




@media only screen and (min-device-width: 375px) {
  #name {

    font-size: 1.2rem;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .type-write div {
    font-size: 0.8rem;
  }

  .type-write {
    margin-left: 1.5em;
  }
}




@media only screen and (min-device-width: 768px) {
  #name {

    font-size: 20px;

  }

  .type-write {

    margin-left: 2em;
  }

  .type-write div {
    font-size: 20px;

  }
}

@media only screen and (min-device-width: 1024px) and (min-device-height: 1366px) {
  #name {

    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

  }

  .type-write {
    position: absolute;
    z-index: 10;
    top: 1em;
    margin-left: 2em;
  }

  .type-write div {
    font-size: 24px;

  }
}


@media only screen and (min-device-width: 1440px) {
  #name {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .type-write {
    margin-left: 2em;
  }

  .type-write div {
    font-size: 18px;
    margin-top: 5px;

  }
}