.type-write {
  margin-left: 2em;
  margin-top: 10px;
  max-height: 500px;
}

.type-write div {
  font-size: 1rem;
  margin-top: 10px;
  color: #3ce800;
}

.blue {
  color: #00d1ff;
}

#purple {
  font-size: 16px;
  color: #9e00ff;
}

#red {
  color: #da0000;
}

#name {
  color: #3ce800;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.Typewriter__wrapper span {
  color: #00d1ff;
}


/* @media only screen and (min-device-width: 320px) {
  #name {
    color: #3ce800;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
  }

  .type-write {
    position: absolute;
    z-index: 10;
    top: 1em;
    margin-left: 2em;
  }

  .type-write div {
    font-size: 12px;
    margin-top: 5px;
    color: #3ce800;
  }
} */

@media only screen and (max-device-width: 375px) {
  #name {
    color: #3ce800;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
  }

}

/* @media only screen and (min-device-width: 768px) {
  #name {
    color: #3ce800;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .type-write {
    position: absolute;
    z-index: 10;
    top: 1em;
    margin-left: 2em;
  }

  .type-write div {
    font-size: 20px;
    margin-top: 5px;
    color: #3ce800;
  }
} */
/* 
@media only screen and (min-device-width: 1024px) {
  #name {
    color: #3ce800;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
  }

  .type-write {
    position: absolute;
    z-index: 10;
    top: 1em;
    margin-left: 2em;
  }

  .type-write div {
    font-size: 24px;
    margin-top: 5px;
    color: #3ce800;
  }
}  */

/* @media only screen and (min-device-width: 1440px) {
  #name {
    color: #3ce800;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
  }

  .type-write {
    position: absolute;
    z-index: 10;
    top: 3em;
    margin-left: 2em;
  }

  .type-write div {
    font-size: 18px;
    margin-top: 5px;
    color: #3ce800;
  }
}  */