.contact-section {
    position: absolute;
    top: 15em;
    left: 5em;
}

.contact-section .Typewriter__wrapper {
    display: inline-block;
    padding-top: 3rem;
}

.Typewriter__cursor_contact {
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
    color: #3ce800;
}

.Typewriter__cursor_email {
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
    color: #3ce800;
}

#email {
    text-decoration-line: none;
    color: #3ce800;
}

#email:hover {
    text-decoration-line: none;
    color: #da0000;
}