.contact-section {
    margin-left: 2rem;
}

.contact-section .Typewriter__wrapper {
    display: inline-block;
    padding-top: 3rem;
}

.Typewriter__cursor_contact {
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
    color: #3ce800;
}

.Typewriter__cursor_email {
    -webkit-animation: Typewriter-cursor 1s infinite;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
    color: #3ce800;
}

#email {
    text-decoration-line: none;
    color: #3ce800;
}

#email:hover {
    text-decoration-line: none;
    color: #da0000;
}

@media only screen and (min-device-width: 320px) {
    .contact-section {
        margin-left: 2rem;
        font-size: 14px;
    }


}


@media only screen and (min-device-width: 375px) {
    .contact-section {
        margin-left: 2rem;
        font-size: 14px;
    }


}

@media only screen and (min-device-width: 768px) {
    .contact-section {
        margin-left: 2rem;
        font-size: 18px;
    }


}

@media only screen and (min-device-width: 1024px) {
    .contact-section {
        margin-left: 2rem;
        font-size: 18px;
    }

}

@media only screen and (min-device-width: 1024px) and (min-device-height: 1366px) {
    .contact-section {
        margin-left: 2rem;
        font-size: 26px;
    }

}