.App-header {
  background: url("../../assets/je_logos.jpg") repeat scroll center center / cover;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10px;
  padding-right: 10px;

}

.home-terminal {
  position: relative;

}

.home-terminal img {
  width: 100%;
  height: 80vh;
}

.terminal-head {
  position: absolute;
  top: 3%;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: #666666;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20px;
}

.terminal-head p {
  position: absolute;
  color: wheat;
  opacity: 70%;
  left: 40%;
}

.terminal-head img {
  position: absolute;
  left: 35%;
}

.bubbles {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 4%;
  margin-left: 20px;
}

.bubble1 {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}

.bubble2 {
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  margin-right: 10px;
}

.bubble3 {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.type-write {
  position: absolute;
  z-index: 10;
  top: 5em;
  margin-left: 2em;
}



.type-write div {
  font-size: 16px;
  margin-top: 10px;
  color: #3ce800;
}

.blue {
  color: #00d1ff;
}

#purple {
  font-size: 16px;
  color: #9e00ff;
}

#red {
  color: #da0000;
}

#name {
  color: #3ce800;
  font-size: 20px;
}

.Typewriter__wrapper span {
  color: #00d1ff;
}


li {
  list-style: none;
  padding: 10px;
}

.links {
  z-index: 1;
  margin-left: 40px;
}

ul {
  display: flex;
  padding-inline-start: 0px;
}

li i {
  font-size: 28px;
  color: #77b163;
}

li i:hover {
  color: white;
}

.hi {
  margin-left: 50px;
}