.App {
  color: whitesmoke;
}

.App-header {
  background: url("./Je-background.png") repeat scroll center center / cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

span {
  color: #77b163;
}

li {
  list-style: none;
  padding: 10px;
}

.links {
  z-index: 1;
  margin-left: 40px;
}

ul {
  display: flex;
  padding-inline-start: 0px;
}

li i {
  font-size: 28px;
  color: #77b163;
}

li i:hover {
  color: white;
}
.title {
  margin-left: 50px;
}
.hi {
  margin-left: 50px;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}
.about-me {
  margin-left: 120px;
}
section hr {
  margin: auto;
  border: 1px solid #77b163;
  margin-left: 100px;
  margin-right: 100px;
}

section h1 {
  margin-bottom: 20px;
}
.img-about {
  width: 500px;
}

.about-content {
  width: 600px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  line-height: 1.6;
  font-size: 18px;
}
.about-content a {
  color: #77b163;
  text-decoration: none;
  cursor: pointer;
}

.projects-main h2 {
  margin-left: 120px;
  margin-top: 100px;
}
.projects-main hr {
  margin: auto;
  border: 1px solid #77b163;
  margin-left: 100px;
  margin-right: 100px;
}
.projects {
  margin-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects img {
  width: 300px;
  height: 200px;
}
.container-projects {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
.card-project {
  width: 300px;
  height: 360px;
  display: flex;
  flex-direction: column;
  background-color: #111;
  margin-top: 20px;
  margin: 20px;
  box-shadow: 3px 3px 6px #1e351c;
}
.card-project h4 {
  margin-top: 20px;
  margin-left: 30px;
}
.card-project p {
  margin-top: 5px;
  margin-left: 30px;
}
.btn-card-project {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.btn-card-project button {
  text-align: center;
  margin: 10px;
}
.contact-section {
  height: 100%;
}
.contact-section hr {
  margin: auto;
  border: 1px solid #77b163;
  margin-left: 100px;
  margin-right: 100px;
}
.contact-section h2 {
  margin-left: 120px;
  margin-top: 100px;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.input-form {
  width: 800px;
  display: flex;
  flex-direction: column;
  background-color: #111;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 400px;
  box-shadow: 3px 3px 6px #1e351c;
}
.input-form input {
  width: 600px;
  padding: 20px;
  margin-top: 20px;
  outline: none;
}
.input-form button {
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  background-color: #77b163;
  color: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
}
.input-form button:hover {
  background-color: whitesmoke;
  color: #77b163;
  transform: scale(1.1);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #111;
  bottom: 0;
  margin-top: 100px;
  color: #77b163;
}
.footer img {
  width: 50px;
}
@media (max-width: 375px) {
  .title {
    margin-left: 10px;
    font-size: 30px;
  }
  .hi {
    margin-left: 10px;
  }
  .links {
    margin-left: 5px;
  }

  .links ul {
    flex-direction: column;
  }
  .img-about {
    width: 350px;
  }
  .projects-main hr {
    margin-left: 20px;
    margin-right: 20px;
  }
  section hr {
    margin-left: 20px;
    margin-right: 20px;
  }
  .about-me {
    margin-top: 30px;
    margin-left: 20px;
  }
  .contact-section hr {
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact-section h2 {
    margin-top: 30px;
    margin-left: 20px;
  }
  .projects-main hr {
    margin-left: 20px;
    margin-right: 20px;
  }
  .projects-main h2 {
    margin-top: 30px;
    margin-left: 20px;
  }
  .input-form {
    width: 250px;
    height: 400px;
  }
  .input-form input {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .title {
    margin-left: 20px;
    font-size: 30px;
  }

  .hi {
    margin-left: 20px;
  }

  .links {
    margin-left: 10px;
  }

  .links ul {
    flex-direction: column;
  }

  .img-about {
    width: 350px;
  }

  section hr {
    margin-left: 20px;
    margin-right: 20px;
  }
  .projects-main hr {
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact-section hr {
    margin-left: 20px;
    margin-right: 20px;
  }

  .contact-section h2 {
    margin-top: 30px;
    margin-left: 20px;
  }
  .about-me {
    margin-top: 30px;
    margin-left: 20px;
  }
  .projects-main h2 {
    margin-top: 30px;
    margin-left: 20px;
  }
  .input-form {
    width: 350px;
    height: 400px;
  }
  .input-form input {
    width: 300px;
  }
}
