.App {
  text-align: center;
  color: whitesmoke;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.content {
  display: flex;
}

.title {
  margin-left: 100px;
  margin-top: 10px;
  z-index: 1;
  font-size: 40px;
}

span {
  color: var(--blend-color-2);
}

.hello {
  margin-left: 100px;
  margin-bottom: 1px;
  font-size: 30px;
}

li {
  list-style: none;
  padding: 10px;
}

.links {
  z-index: 1;
  margin-left: 90px;
}

ul {
  display: flex;
  padding-inline-start: 0px;
}

i {
  font-size: 28px;
  color: var(--blend-color-2);
}

i:hover {
  color: var(--blend-color-5);
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}

.img-div-about {
  width: 100%;
}

.img-about {
  width: 900px;
  height: 500px;
}

.about-content {
  width: 500px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.use-div {
  margin-top: 100px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.logos img {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.projects {
  margin-top: 100px;
  height: 1000px;
}

@media (max-width: 500px) {
  .title {
    margin-left: 10px;
    font-size: 30px;
  }

  .hello {
    margin-left: 10px;
    font-size: 25px;
  }

  .links {
    margin: 5px;
  }

  .links ul {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .title {
    margin-left: 20px;
    font-size: 40px;
  }

  .hello {
    margin-left: 20px;
    font-size: 30px;
  }

  .links {
    margin: 10px;
  }

  .links ul {
    flex-direction: column;
  }
}