.App {
  background: url("./assets/je_logos.jpg") repeat scroll center center / cover;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-alex {
  position: absolute !important;
}

/*NAVBAR */
#navbar {
  position: absolute;
  bottom: 7em;
  left: 4em;
  font-size: 16px;
  color: #3ce800;
  z-index: 1;
}



#navbar li {
  padding-right: 20px;
  text-decoration: none;
  color: #3ce800;
  cursor: pointer;
}

#navbar li:hover {
  color: #da0000;
}



/*LINKS */

li {
  list-style: none;
  padding: 10px;
}

.links {
  position: absolute;
  bottom: 1rem;
  z-index: 1;
  left: 4rem;
}

ul {
  display: flex;
  padding-inline-start: 0px;
  align-items: center;
}

li i {
  font-size: 28px;
  color: #3ce800;
}

li i:hover {
  color: #da0000;
}

.hi {
  margin-left: 50px;
}

.links p {
  font-size: 0.7rem;
  color: #3ce800;
  margin-left: 10px;
}