@font-face {
  font-family: 'Cascadia Code Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Cascadia Code Regular'), url('Cascadia.woff') format('woff');
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Cascadia Code Regular' !important;
  font-style: normal;
  background-color: #040404;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}